/* 主样式文件 - 导入所有模块化CSS */

/* 基础样式 */
@import './base.css';
@import './layout.css';

/* 组件样式 */
@import './components/buttons.css';
@import './components/forms.css';
@import './components/modals.css';
@import './components/cards.css';
@import './components/tables.css';
@import './components/tags.css';
@import './components/views.css';

/* 页面样式 */
@import './pages/setup.css';
@import './pages/home.css';
@import './pages/words.css';

/* 功能模块样式 */
@import './modules/language.css';
@import './modules/audio.css';
@import './modules/image.css';